template(name='drink')
    .ui.header 
        +i name='pizza'
        |drink items
    .ui.stackable.centered.cards
        each drink_docs
            +drink_card
        
template(name='drink_card')
    a.card(href="/drink/#{_id}")
        img.ui.centered.image(src="{{c.url image_id height=500 width=500 background='white' crop='pad'}}")
        .content
            a.ui.header(href="/drink/#{_id}") #{title}
        
        
template(name='drink_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column.scrolling
                    a.ui.big.icon.green.circular.button(href="/#{model}/#{_id}/")
                        i.checkmark.big.icon
                    .ui.inline.header 
                        small editing
                        |'#{title}'
                        small drink
                    +text_edit key='title' icon='header' direct=true
                    +image_edit key='image_id' direct=true
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    .ui.icon.small.red.button.delete_drink_item 
                        i.trash.icon
                    if in_dev
                        +print_this
                    +html_edit key='description' direct=true
                .six.wide.column.scrolling
                    +number_edit key='point_price' icon='coins' label='point price' direct=true
                    +number_edit key='dollar_price' icon='money' label='money price' direct=true
                    +number_edit key='inventory' label='inventory' icon='warehouse' direct=true
                    +link_edit key='link' label='link' icon='globe' direct=true
                .three.wide.column.scrolling
                    +boolean_edit key='published' label='published'
                    +number_edit key='calories' label='calories' icon='drink' direct=true
                    
    
template(name='drink_location')
    .ui.inline.header current location
    |#{current_location}
    
    



template(name='user_drinks')
    .scrolling
        if is_current_user
            .ui.circular.button.add_drink
                i.plus.icon
                |drink
        each drinks
            +profile_drink_item

template(name='profile_drink_item')
    .ui.segment.grid
        .row
            .four.wide.column
                +image_view key='image' direct=true cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.small.header.inline.lowercase(href="/drink/#{_id}/")
                    |#{price_per_serving}c / #{serving_unit}
                .ui.small.inline.header #{when}
                a.ui.button(href="/drink/#{_id}/")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button
        
        
        
template(name='drink_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .row
                .six.wide.column
                    // .ui.header 
                    //     small viewing
                    //     |#{title}
                    //     small drink
                    .ui.big.header #{title}
                    a.ui.big.compact.button.fly_left(href="/" title='shop')
                        i.left.chevron.icon
                        +i name='shop' cl='ui inline image'
                    if can_edit
                        a.ui.icon.large.basic.button(href="/drink/#{_id}/edit")
                            i.pencil.large.blue.icon
                    +bookmark_button
                    .ui.small.inline.header
                        |added by #{_author_username}
                        |#{when}
                    .ui.hidden.divider
                    +voting_full
                    a.ui.fluid.basic.green.big.button.add_to_cart
                        i.cart.plus.icon
                        |add to cart
                    a.ui.fluid.green.big.button.quick_buy
                        i.lightning.icon
                        |quick buy
                    .ui.header 
                        |orders 
                    .ui.selection.animated.list
                        each product_orders 
                            .ui.item #{when}
                    .ui.header #{calories} cals
                .ten.wide.column.scrolling
                    img.ui.centered.rounded.shadowed.image(src="{{c.url image_id crop='fit'}}")
                    i.large.tag.icon        
                    each tags 
                        a.ui.compact.button.goto_tag
                            |#{this}
                    +html_view key='description' direct=true
                    +comments
                    +number_view key='point_price' icon='coins' label='point price' direct=true
                    .ui.header inventory #{inventory} units available
                    .ui.header inventory #{order_total} total orders
                    div
                    if link 
                        +link_view key='link' label='link' direct=true
                    // unless sold_out
                    //     if point_price
                    //         .ui.big.green.fluid.button.buy_drink.fly_right 
                    //             i.cart.large.icon
                    //             |buy for #{point_price}p
                    //     // .ui.horizontal.divider or
                    //     // if dollar_price
                    //     //     .ui.big.green.fluid.button.buy_drink 
                    //     //         i.cart.large.icon
                    //     //         |buy for $#{dollar_price}
                    // else 
                    //     .ui.big.disabled.fluid.basic.button
                    //         |sold out
                    .ui.hidden.divider
                    div
                    .ui.inline.header
                        +i name='delivery'
                        |delivery
                    div
                    if delivery_instructions
                        .ui.small.inline.header
                            |delivery instructions:
                        |#{delivery_instructions}      
                    +boolean_view key='pickup_delivery' label='pickup' direct=true icon='box'
                    +boolean_view key='unit_dropoff_delivery' label='home dropoff' icon='contactless-delivery' direct=true
                    +boolean_view key='building_dropoff_delivery' label='building dropoff' icon='building' direct=true
                    +drink_orders
                    +related_drinks
                    
        
        
template(name='related_drinks')
    .ui.header 
        +i name='code-fork'
        |#{related_drinks.count}
        |related drinks
    .ui.selection.animated.link.list
        each related_drink_docs
            a.item(href="/drink/#{_id}")
                | #{title}
                |#{price}p
    
template(name='drink_orders')
    .ui.header 
        +i name='order-history'
        |#{drink_order_docs.count}
        |orders
    .ui.selection.animated.link.list
        each drink_order_docs
            a.item(href="/order/#{_id}")
                | #{when} #{_author_username}
    
        